
    

pre{
    color: #006d77;
    font-size: 22px;
    background-color: #edf6f9;
    text-wrap: pretty;
    font-weight: bold;
}

h1{
    font-size: 30px;
    margin-left: 600px;
    text-decoration: underline;
}