
html, body {
    height: 100%;
    margin: 0;
}

body {
   
    background-image: url('background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

/* .logo{
    height: 83px;
    padding-left: 250px;
} */

.top{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}

#title{
    font-size: 70px;
    text-decoration: underline;
}

.tags{
    font-size: 25px;
    text-decoration: none;
    color: black;
    font-weight: 200;
}

.hero-back{
 height: 560px;
 width: 100%;
 /* background-color: antiquewhite; */
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

h3{
    font-size: 35px;
    text-decoration: underline;
}
.hero-front{
    height: 400px;
    width: 50%;
    /* background-color: rgba(230, 230, 230, 0.932); */
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 2%;   
}

p{
    text-decoration: underline;
    font-size: 21px;
}

#value1{
    width: 95% ;
    height: 27px; ;
}

#one{
    padding-left: 20px;
}

#value2{
    width: 95% ;
    height: 27px;
}

#two{
    padding-left: 20px;
}

#three{
    width: 93%;
    margin-left: 20px;
    background-color: rgb(18, 16, 16);
    color: aliceblue;
    height: 28px;
}



